body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #b83c9b, #d650c0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background: rgb(226, 159, 198);
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  color: #6c5ce7;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #d360ab;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #dd62cf;
}

.login-box p {
  margin-top: 20px;
  font-size: 14px;
}

.back-home {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
  color: #0984e3;
}
